<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mobingi.price.dao.AwsMapper">

    <!-- 动态SQL，查询页面所需数据 -->
    <select id="selectAwsInfoByParams" parameterType="map" resultType="map">
      SELECT
          ${request_name}
      FROM
          ${service_name}
      <where>
          <foreach collection="params.keys" item="key">
              <choose>
                  <when test="key == 'tenancy'">
                      AND ${key} = '${params[key]}'
                  </when>
                  <when test="key == 'sw'">
                      AND `pre_installed_s/_w` = '${params[key]}'
                  </when>
                  <otherwise>
                      AND ${key} = '${params[key]}'
                  </otherwise>
              </choose>
          </foreach>
      </where>
      GROUP BY
          ${group_by}
      HAVING
          ${having}
    </select>

    <!-- 删除已存在的数据库表 -->
    <update id="dropTable" parameterType="map">
      DROP TABLE ${tableName}
    </update>

    <!-- 判断数据库表是否存在 -->
    <select id="existTable" parameterType="string" resultType="string">
        SHOW TABLES LIKE #{tableName}
    </select>

    <!-- 创建数据库表 -->
    <update id="createTable" parameterType="map">
        CREATE TABLE ${tableName} (
        <foreach collection="fields" item="word" separator=",">
          `${word}` VARCHAR(255) COLLATE utf8_general_ci NOT NULL DEFAULT ''
        </foreach>
        )ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci
    </update>

    <!-- 插入数据至数据库表 -->
    <insert id="insertData" parameterType="map">
        LOAD DATA LOCAL INFILE '${filePath}'
        INTO TABLE ${tableName}
        FIELDS TERMINATED BY ','
        ENCLOSED BY '"'
        LINES TERMINATED BY '\n'
        IGNORE 6 ROWS
    </insert>

</mapper>