<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mobingi.price.dao.AWSMapper">

    <select id="selectAWSInfoByParams" parameterType="map" resultType="map">
      SELECT
          ${request_name}
      FROM
          ${service_name}
      <where>
          <foreach collection="params.keys" item="key">
              <choose>
                  <when test="key == 'tenancy'">
                      AND ${key} != '${params[key]}'
                  </when>
                  <when test="key == 'sw'">
                      AND `pre_installed_s/_w` = '${params[key]}'
                  </when>
                  <otherwise>
                      AND ${key} = '${params[key]}'
                  </otherwise>
              </choose>
          </foreach>
      </where>
      GROUP BY
          ${group_by}
      HAVING ${having}

    </select>

</mapper>